* {
    margin: 0;
    overflow: hidden;
}

hr {
    border: 5.5px solid #0030CB;
    background-color: #0030CB;
}

.content {
    height: calc(100vh - 22px);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.image {
    display: flex;
    justify-content: flex-end;
    width: 272px;
    align-items: flex-end;
    height: 159px;
    margin-top: 20px;
}

#logo {
    align-self: center;
}

.purchase {
    width: 272px;
    height: 349px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.make {
    position: fixed;
    width: 190.58px;
    height: 60.58px;
    bottom: 15px;
    right: 0px;
    display: flex;
    align-items: flex-end;
}

.qq {
    height: 60.58px;
    text-align: center;
    align-items: center;
    width: 190px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.amount {
    box-sizing: border-box;
    padding-top: 28.5px;
    padding-bottom: 39px;
    font-size: 20px;
    width: 100%;
    height: 145.98px;
    background-color: rgba(0, 48, 203, 0.44);
    border-radius: 136px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}

.title {
    height: 50px;
    display: flex;
    align-items: center;
}

.penguin {
    position: absolute;
    left: 30px;
}

.name {
    width: calc(100% - 28px);
    padding-left: 14px;
    display: flex;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

.bench {
    position: relative;
    top: 20px;
    left: 80px;
}

.round {
    position: relative;
    width: 271px; 
    height: 349px;
    background-color: #CEE2F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
    justify-content: space-between;
}

input {
    border: none;
    background-color: #cdaafe;
    width: 150px;
    height: 53px;
    display: flex;
    text-align: center;
    font-size: 25px;
    border-radius: 30px;
}

.wrapper {
    display: flex;
    width: 220px;
    align-items: center;
    justify-content: space-between;
}